@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  overflow-X: hidden;
}

* {
  font-family: 'Alata', 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

p, h1, h2, h3, dl, ol, ul {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #383634;
}

.heading {
  margin: 30px 0 15px;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

#top .logo a {
  color: #fafafa;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#top .logo a:hover {
  opacity: 0.5;
}

#top .menu_trigger .top, #top .menu_trigger .middle, #top .menu_trigger .bottom {
  background: #fafafa;
}

.footer {
  padding: 12px;
}

.footer .copyright {
  font-size: 1.3rem;
  text-align: center;
  color: #fafafa;
}

.nav_bg {
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.nav_bg .nav_bg_inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.nav_bg .nav_bg_inner .global_nav {
  padding-right: 12.5%;
  color: #fafafa;
}

.nav_bg .nav_bg_inner .global_nav ul {
  list-style-type: none;
}

.nav_bg .nav_bg_inner .global_nav ul li {
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.nav_bg .nav_bg_inner .global_nav ul li:hover {
  -webkit-transform: translateX(36px);
          transform: translateX(36px);
}

.nav_bg .nav_bg_inner .global_nav ul li a {
  font-size: 5rem;
  line-height: 1.75;
  color: #383634;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.nav_bg .nav_bg_inner .global_nav ul li a::before {
  content: '';
  display: block;
  position: absolute;
  top: 7rem;
  left: -44px;
  width: 0px;
  height: 1px;
  background: #383634;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

.nav_bg .nav_bg_inner .global_nav ul li a:hover {
  color: #fafafa;
}

.nav_bg .nav_bg_inner .global_nav ul li a:hover::before {
  background: #fafafa;
  width: 36px;
}

.nav_bg .nav_bg_inner .nav_aside {
  font-size: 2.5rem;
  color: #383634;
  padding-left: 12.5%;
  padding-top: 75px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#383634), to(transparent));
  background: linear-gradient(to bottom, #383634, transparent);
  z-index: 1;
}

.header_inner {
  height: 10rem;
  padding: 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_inner .logo {
  font-size: 3rem;
}

.header_inner .logo a {
  text-decoration: none;
  color: #383634;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.header_inner .logo a:hover {
  opacity: 0.5;
}

.header_inner .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header_inner .nav ul a {
  font-size: 2rem;
  color: #fafafa;
  margin-left: 2rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.header_inner .nav ul a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fafafa;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header_inner .nav ul a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.menu_trigger {
  display: none;
  position: fixed;
  top: 10%;
  right: 12%;
  z-index: 101;
  cursor: pointer;
}

.menu_trigger .top, .menu_trigger .middle, .menu_trigger .bottom {
  margin-bottom: 8px;
  display: block;
  height: 2px;
  background: #383634;
}

.menu_trigger .top:last-child, .menu_trigger .middle:last-child, .menu_trigger .bottom:last-child {
  margin: 0;
}

.menu_trigger .top {
  width: 50px;
}

.menu_trigger .middle {
  width: 40px;
}

.menu_trigger .bottom {
  width: 30px;
}

.about {
  padding: 80px 30px;
  background: #fafafa;
  text-align: center;
}

.about_text {
  margin: 30px 0;
  font-size: 1.4rem;
  line-height: 2.5;
}

.about_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 30%;
}

.twitter {
  font-size: 5rem;
  line-height: 10rem;
  -webkit-transition: .5s;
  transition: .5s;
  color: #383634;
}

.twitter:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #1C95E0;
}

.facebook {
  font-size: 5rem;
  line-height: 10rem;
  -webkit-transition: .5s;
  transition: .5s;
  color: #383634;
}

.facebook:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #3C5997;
}

.github {
  font-size: 5rem;
  line-height: 10rem;
  -webkit-transition: .5s;
  transition: .5s;
  color: #383634;
}

.github:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #2B3236;
}

.contact {
  padding: 80px 0 150px;
  color: #fafafa;
}

.contact .section_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.contact .section_bg .section_bg_inner {
  width: 100%;
  height: 100%;
  background: #383634 url("../img/contact-img.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
}

.contact .section_bg .section_bg_inner:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(56, 54, 52, 0.8);
}

.contact .contact_form {
  margin: 50px auto 0;
  width: 50%;
}

.contact .contact_form .inpput_name, .contact .contact_form .inpput_text {
  margin-bottom: 10px;
  padding: 15px;
  display: block;
  width: 100%;
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  outline: none;
  color: #fafafa;
  font-size: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.contact .contact_form .inpput_name::-webkit-input-placeholder, .contact .contact_form .inpput_text::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-size: 1.4rem;
}

.contact .contact_form .inpput_name::-moz-placeholder, .contact .contact_form .inpput_text::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-size: 1.4rem;
}

.contact .contact_form .inpput_name:-ms-input-placeholder, .contact .contact_form .inpput_text:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-size: 1.4rem;
}

.contact .contact_form .inpput_name::-ms-input-placeholder, .contact .contact_form .inpput_text::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-size: 1.4rem;
}

.contact .contact_form .inpput_name::placeholder, .contact .contact_form .inpput_text::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-size: 1.4rem;
}

.contact .contact_form .inpput_text {
  height: 150px;
}

.contact .contact_form .inpput_btn {
  margin: 40px auto 0;
  padding: 15px;
  display: block;
  width: 200px;
  background: transparent;
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  outline: none;
}

.contact .contact_form .inpput_btn:hover {
  background: rgba(255, 255, 255, 0.05);
}

.main .read_more {
  margin: 80px auto 0;
  display: block;
  width: 100px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #d03c56;
  text-align: center;
}

.main .read_more::after {
  margin-left: 5px;
  content: '\f054';
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.main .read_more:hover {
  opacity: 0.9;
}

.main .read_more:hover:after {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.main .works .read_more {
  color: #fafafa;
}

.main .promise .read_more {
  color: #fafafa;
}

/*.progress {
    background-color:$color_black;
    color: $color_white;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;

    .progress-bar {
        border-top: 1rem solid #a0a0a0;
        position: absolute;
        top: 50%;
        width: 0%;
    }

    .progress-text {
        font-size: 1.2rem;
        margin-top: 10px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
    }
}

.progress.progress-complete .progress-bar {
    border-top-color: $color_white;
}
*/
.promise {
  padding: 8rem 0;
  background: #383634;
  color: #fafafa;
}

.promise p {
  font-size: 1.4rem;
  line-height: 1.8;
}

.promise-wrapper {
  margin-top: 6rem;
}

/*アコーディオン全体*/
.promise-list {
  list-style: none;
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.promise-list li {
  margin: 1rem 0;
}

.promise-list section {
  border-bottom: 1px solid #fafafa;
}

.title {
  position: relative;
  /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: normal;
  padding: 2% 2% 2% 5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background-color: #fafafa;
}

.title::before {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.title::after {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*closeというクラスがついたら形状変化*/
.title.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.title.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;
  /*はじめは非表示*/
  margin: 0 2% 2% 4.5%;
  padding: 2%;
}

.skills {
  padding: 80px 0;
  background: #fafafa;
}

.skills .wrapper {
  margin: 50px auto 0;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .wrapper .skill_box {
  width: 25%;
  text-align: center;
}

.skills .wrapper .skill_box .size {
  font-size: 10rem;
  color: #f2003d;
  line-height: 15rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.skills .wrapper .skill_box .size:hover {
  font-size: 12rem;
}

.skills .wrapper .skill_box .skill_title {
  margin: 2rem;
  margin-top: 0;
  font-size: 2rem;
}

.skills .wrapper .skill_box .desc {
  margin: 0 20px;
  font-size: 1.4rem;
  line-height: 1.8;
  text-align: left;
}

.top_main {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  background: #383634;
  z-index: 0;
}

.top_main .text {
  padding: 0 10rem;
  position: absolute;
  bottom: 50px;
  z-index: 1;
}

.top_main .text .sub_title {
  margin-bottom: 0.5rem;
  font-size: 4rem;
  color: #fafafa;
}

.top_main .text .name {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  color: #fafafa;
}

.top_main .text .desc {
  font-size: 1.8rem;
  color: #fafafa;
}

.top_main .video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  opacity: 0.5;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.scroll-text {
  position: absolute;
  bottom: 7rem;
  right: 8.1rem;
  color: #fafafa;
  font-size: 1.4rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 1;
}

.scroll-guide {
  position: absolute;
  right: 10.5rem;
  bottom: 2rem;
  height: 5rem;
  z-index: 1;
}

.scroll-guide i {
  display: block;
  width: 2px;
  height: 50px;
  margin-top: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: relative;
}

.scroll-guide i:before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: scroll_guide_animation 2s infinite normal;
          animation: scroll_guide_animation 2s infinite normal;
}

@-webkit-keyframes scroll_guide_animation {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  15% {
    -webkit-transform: translate3d(0, -98%, 0);
            transform: translate3d(0, -98%, 0);
  }
  85% {
    -webkit-transform: translate3d(0, 98%, 0);
            transform: translate3d(0, 98%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes scroll_guide_animation {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  15% {
    -webkit-transform: translate3d(0, -98%, 0);
            transform: translate3d(0, -98%, 0);
  }
  85% {
    -webkit-transform: translate3d(0, 98%, 0);
            transform: translate3d(0, 98%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

.works {
  padding: 80px 0;
  color: #fafafa;
  background: #383634;
  position: relative;
  z-index: 0;
}

.works .work-wrapper {
  margin: 6rem 2rem 0;
}

.works .work_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

.works .work_img {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.works .work_img img {
  width: 100%;
  height: auto;
  -webkit-transition: all .5s ease 0.1s;
  transition: all .5s ease 0.1s;
  background-color: rgba(255, 255, 255, 0.6);
}

.works .work_img img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  opacity: .5;
}

.works .work_heading {
  color: #fafafa;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 1rem;
}

.works .work_desc {
  color: #fafafa;
  font-size: 1.4rem;
  line-height: 1.8;
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  html {
    font-size: 0.9vw;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1.3rem;
    line-height: 1.7;
  }
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .nav_bg {
    display: block;
  }
  .nav_bg .nav_bg_inner {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    display: block;
    position: absolute;
    top: 17%;
    left: 40px;
  }
  .nav_bg .nav_bg_inner .global_nav ul {
    padding: 0;
  }
  .nav_bg .nav_bg_inner .global_nav ul li a {
    font-size: 4.3rem;
    line-height: 1.5;
  }
  .nav_bg .nav_bg_inner .nav_aside {
    font-size: 1.8rem;
    padding-left: 0;
    padding-top: 20px;
  }
  .header_inner {
    padding: 0 3rem;
  }
  .header_inner .logo {
    font-size: 2rem;
  }
  .header_inner .nav {
    display: none;
  }
  .menu_trigger {
    display: block;
    top: 5.5%;
    right: 10%;
  }
  .about_list {
    width: 80%;
  }
  .contact {
    padding: 80px 0;
  }
  .skills .wrapper {
    width: 80%;
    display: block;
  }
  .top_main .text {
    padding: 0 3rem;
    bottom: 50px;
    z-index: 1;
  }
  .top_main .text .desc {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 1024px) {
  .heading {
    padding-bottom: 15px;
    margin: 20px 0 15px;
    font-size: 2.5rem;
  }
  .nav_bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav_bg .nav_bg_inner .global_nav {
    padding-right: 0;
  }
  .about_text {
    font-size: 1.3rem;
    line-height: 1.8;
  }
  .contact .contact_form {
    width: 80%;
  }
  .skills .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .skills .wrapper .skill_box {
    width: 100%;
    margin: 40px 0;
  }
  .skills .wrapper .skill_box .desc {
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 2rem;
    width: 50%;
  }
  .top_main .text .sub_title {
    margin-bottom: 1.0rem;
    font-size: 3rem;
  }
  .top_main .text .name {
    margin-bottom: 1.8rem;
    font-size: 2.3rem;
  }
  .top_main .text .desc {
    font-size: 1.4rem;
  }
  .scroll-text {
    right: -0.4rem;
  }
  .scroll-guide {
    right: 2rem;
  }
}
