@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  font-family: 'Alata', 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

p, h1, h2, h3, dl, ol, ul {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #383634;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*下から上にフェードイン*/
.fadeIn {
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fadeIn.fadeUp {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  padding: 12px;
}

.footer .copyright {
  font-size: 1.3rem;
  text-align: center;
  color: #fafafa;
}

.bgNav {
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.bgNav-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.bgNav-aside {
  font-size: 2.5rem;
  color: #383634;
  padding-left: 12.5%;
  padding-top: 7.5rem;
}

.bgNav-heading {
  font-size: 3rem;
}

.globalNav {
  padding-right: 12.5%;
  color: #fafafa;
}

.globalNav-list {
  list-style-type: none;
}

.globalNav-item {
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.globalNav-item:hover {
  -webkit-transform: translateX(36px);
          transform: translateX(36px);
}

.globalNav-item a {
  font-size: 5rem;
  line-height: 1.75;
  color: #383634;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.globalNav-item a::before {
  content: '';
  display: block;
  position: absolute;
  top: 5rem;
  left: -4.4rem;
  width: 0px;
  height: 1px;
  background: #383634;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

.globalNav-item a:hover {
  color: #fafafa;
}

.globalNav-item a:hover::before {
  background: #fafafa;
  width: 3.6rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#383634), color-stop(60%, rgba(56, 54, 52, 0.5)), to(transparent));
  background: linear-gradient(to bottom, #383634 0%, rgba(56, 54, 52, 0.5) 60%, transparent);
  z-index: 1;
}

.header-inner {
  height: 10rem;
  margin: 0 auto;
  padding: 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  font-size: 3rem;
}

.header-logo a {
  text-decoration: none;
  color: #fafafa;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.header-logo a:hover {
  opacity: 0.5;
}

.headerNav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.headerNav-list a {
  font-size: 2rem;
  color: #fafafa;
  margin-left: 3rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.headerNav-list a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fafafa;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.headerNav-list a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.openBtn {
  display: none;
  cursor: pointer;
  z-index: 110;
}

.openBtn .top, .openBtn .middle, .openBtn .bottom {
  margin-bottom: .8rem;
  display: block;
  height: 2px;
  background: #fafafa;
}

.openBtn .top:last-child, .openBtn .middle:last-child, .openBtn .bottom:last-child {
  margin: 0;
}

.openBtn .top {
  width: 50px;
}

.openBtn .middle {
  width: 40px;
}

.openBtn .bottom {
  width: 30px;
}

.pageTop {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  cursor: pointer;
  background: rgba(250, 250, 250, 0.8);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  z-index: 10;
}

.pageTop-size {
  font-size: 5rem;
  color: #383634;
  line-height: 5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.pageTop-size:hover {
  opacity: .8;
}

.about {
  padding: 8rem 3rem;
  background: #fafafa;
  text-align: center;
}

.about-heading {
  margin: 3rem 0 1.5rem;
  font-size: 4rem;
  color: #383634;
  text-align: center;
  text-transform: uppercase;
}

.about-text {
  margin: 3rem 0;
  font-size: 1.4rem;
  line-height: 2.5;
  color: #383634;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 30%;
}

.about .twitter {
  font-size: 5rem;
  line-height: 10rem;
  -webkit-transition: .5s;
  transition: .5s;
  color: #383634;
}

.about .twitter:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #1C95E0;
}

.about .facebook {
  font-size: 5rem;
  line-height: 10rem;
  -webkit-transition: .5s;
  transition: .5s;
  color: #383634;
}

.about .facebook:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #3C5997;
}

.about .github {
  font-size: 5rem;
  line-height: 10rem;
  -webkit-transition: .5s;
  transition: .5s;
  color: #383634;
}

.about .github:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #2B3236;
}

.about .linkBox {
  position: relative;
}

.about .linkBox .readMore {
  margin: 8rem auto 0;
  display: block;
  width: 10rem;
  font-size: 1.6rem;
  color: #d03c56;
  text-align: center;
  cursor: default;
}

.about .linkBox .readMore::after {
  margin-left: 0.5rem;
  content: '\f054';
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.about .linkBox .readMore:hover {
  opacity: 0.9;
}

.about .linkBox .readMore:hover::after {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.about .linkBox .balloon {
  color: #fafafa;
  font-size: 1.4rem;
  position: absolute;
  padding: 1rem;
  background-color: rgba(56, 54, 52, 0.7);
  width: 20rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 2rem;
  border-radius: .5rem;
  text-align: center;
  display: none;
}

.about .linkBox .balloon::after {
  border-bottom: 2rem solid rgba(56, 54, 52, 0.7);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  top: -2rem;
  left: 40%;
  content: "";
  position: absolute;
}

.contact {
  padding: 8rem 0 15rem;
  color: #fafafa;
}

.contact-heading {
  margin: 3rem 0 1.5rem;
  font-size: 4rem;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
}

.contact-form {
  margin: 5rem auto 0;
  width: 50%;
}

.bgSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.bgSection-inner {
  width: 100%;
  height: 100%;
  background: #383634 url("../img/contact-img.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
}

.bgSection-inner::before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(56, 54, 52, 0.8);
}

.input-name, .input-text {
  margin-bottom: 3rem;
  padding: 1.5rem;
  display: block;
  width: 100%;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  outline: none;
  color: #fafafa;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.input-name::-webkit-input-placeholder, .input-text::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 1.4rem;
}

.input-name::-moz-placeholder, .input-text::-moz-placeholder {
  color: #fafafa;
  font-size: 1.4rem;
}

.input-name:-ms-input-placeholder, .input-text:-ms-input-placeholder {
  color: #fafafa;
  font-size: 1.4rem;
}

.input-name::-ms-input-placeholder, .input-text::-ms-input-placeholder {
  color: #fafafa;
  font-size: 1.4rem;
}

.input-name::placeholder, .input-text::placeholder {
  color: #fafafa;
  font-size: 1.4rem;
}

.input-text {
  height: 15rem;
}

.input-btn {
  margin: 4rem auto 0;
  padding: 1.5rem;
  display: block;
  width: 20rem;
  background: transparent;
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 1.4rem;
  outline: none;
}

.input-btn:hover {
  background: rgba(255, 255, 255, 0.05);
}

.loading {
  background: #383634;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.loading-circle, .loading-circle::after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loading-circle {
  margin: 6rem auto;
  font-size: 1rem;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(250, 250, 250, 0.2);
  border-right: 1.1em solid rgba(250, 250, 250, 0.2);
  border-bottom: 1.1em solid rgba(250, 250, 250, 0.2);
  border-left: 1.1em solid #fafafa;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
          animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.promise {
  padding: 8rem 0;
  background: #383634;
  color: #fafafa;
}

.promise-heading {
  margin: 3rem 0 1.5rem;
  font-size: 4rem;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
}

.promise-wrapper {
  margin-top: 6rem;
}

.promise-list {
  list-style: none;
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.promise-item {
  margin: 1rem 0;
}

/*アコーディオン全体*/
.accordion {
  border-bottom: 1px solid #fafafa;
  /*closeというクラスがついたら形状変化*/
  /*アコーディオンで現れるエリア*/
}

.accordion-title {
  position: relative;
  /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: normal;
  padding: 2% 2% 2% 5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  /*アイコンの＋と×*/
}

.accordion-title::before, .accordion-title::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background-color: #fafafa;
}

.accordion-title::before {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.accordion-title::after {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.accordion-title.close::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.accordion-title.close::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.accordion-box {
  display: none;
  /*はじめは非表示*/
  margin: 0 2% 2% 4.5%;
  padding: 2%;
}

.accordion-text {
  font-size: 1.4rem;
  line-height: 1.8;
}

.skills {
  padding: 8rem 0;
  background: #fafafa;
}

.skills-heading {
  margin: 3rem 0 1.5rem;
  font-size: 4rem;
  color: #383634;
  text-align: center;
  text-transform: uppercase;
}

.skills-wrapper {
  margin: 5rem auto 0;
  max-width: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-box {
  width: 25%;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.skills-box:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(56, 54, 52, 0.3);
          box-shadow: 0 0 5px 5px rgba(56, 54, 52, 0.3);
}

.skills .size {
  font-size: 10rem;
  color: #d03c56;
  line-height: 15rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.skills-title {
  margin: 2rem;
  margin-top: 0;
  font-size: 2rem;
  color: #383634;
}

.skills-desc {
  margin: 0 2rem;
  font-size: 1.4rem;
  line-height: 1.8;
  text-align: left;
  padding-bottom: 1rem;
  color: #383634;
}

.skills-textBox {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 10rem;
  text-align: center;
}

.skills-textHeading {
  font-size: 2rem;
  color: #383634;
  margin: 5rem 0 0;
}

.skills-text {
  font-size: 1.4rem;
  color: #383634;
  margin: 2rem 0 0;
}

.skills .linkBox {
  position: relative;
}

.skills .linkBox .readMore {
  margin: 8rem auto 0;
  display: block;
  width: 10rem;
  font-size: 1.6rem;
  color: #d03c56;
  text-align: center;
  cursor: default;
}

.skills .linkBox .readMore::after {
  margin-left: 0.5rem;
  content: '\f054';
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.skills .linkBox .readMore:hover {
  opacity: 0.9;
}

.skills .linkBox .readMore:hover::after {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.skills .linkBox .balloon {
  color: #fafafa;
  font-size: 1.4rem;
  position: absolute;
  padding: 1rem;
  background-color: rgba(56, 54, 52, 0.7);
  width: 20rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 2rem;
  border-radius: .5rem;
  text-align: center;
  display: none;
}

.skills .linkBox .balloon::after {
  border-bottom: 2rem solid rgba(56, 54, 52, 0.7);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  top: -2rem;
  left: 40%;
  content: "";
  position: absolute;
}

.topMain {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  background: #383634 url("../img/posterImage.jpg") no-repeat top center/cover;
  z-index: 0;
}

.topMain-text {
  padding: 0 10rem;
  position: absolute;
  bottom: 5rem;
  z-index: 1;
}

.topMain-subTitle {
  margin-bottom: 0.5rem;
  font-size: 4rem;
  color: #fafafa;
}

.topMain-name {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  color: #fafafa;
}

.topMain-desc {
  font-size: 1.8rem;
  color: #fafafa;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.scrollText {
  position: absolute;
  bottom: 7rem;
  right: 8.1rem;
  color: #fafafa;
  font-size: 1.4rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 1;
}

.scrollGuide {
  position: absolute;
  right: 10.5rem;
  bottom: 2rem;
  height: 5rem;
  z-index: 1;
}

.scrollGuide i {
  display: block;
  width: 2px;
  height: 50px;
  margin-top: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: relative;
}

.scrollGuide i:before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: scrollGuide-animation 2s infinite normal;
          animation: scrollGuide-animation 2s infinite normal;
}

@-webkit-keyframes scrollGuide-animation {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  15% {
    -webkit-transform: translate3d(0, -98%, 0);
            transform: translate3d(0, -98%, 0);
  }
  85% {
    -webkit-transform: translate3d(0, 98%, 0);
            transform: translate3d(0, 98%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes scrollGuide-animation {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  15% {
    -webkit-transform: translate3d(0, -98%, 0);
            transform: translate3d(0, -98%, 0);
  }
  85% {
    -webkit-transform: translate3d(0, 98%, 0);
            transform: translate3d(0, 98%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

.works {
  padding: 80px 0;
  color: #fafafa;
  background: #383634;
  position: relative;
  z-index: 0;
}

.works-heading {
  margin: 3rem 0 1.5rem;
  font-size: 4rem;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
}

.works-wrapper {
  margin: 6rem 2rem 0;
}

.works-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

.works-img {
  overflow: hidden;
}

.works-eff {
  position: relative;
  width: 100%;
  height: auto;
  -webkit-transition: all .5s ease 0.1s;
  transition: all .5s ease 0.1s;
}

.works-eff:before {
  content: "Click More";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(56, 54, 52, 0.4), rgba(56, 54, 52, 0.8));
  -webkit-transition: all .5s ease 0.1s;
  transition: all .5s ease 0.1s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  font-size: 2rem;
  text-shadow: 0 0 0.5rem #383634;
}

.works-eff:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.works-eff:hover::before {
  opacity: 1;
}

.works-descHeading {
  color: #fafafa;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 1rem;
}

.works-desc {
  color: #fafafa;
  font-size: 1.4rem;
  line-height: 1.8;
}

.works .linkBox {
  position: relative;
}

.works .linkBox .readMore {
  margin: 8rem auto 0;
  display: block;
  width: 10rem;
  font-size: 1.6rem;
  color: #fafafa;
  text-align: center;
  cursor: default;
}

.works .linkBox .readMore::after {
  margin-left: 0.5rem;
  content: '\f054';
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.works .linkBox .readMore:hover {
  opacity: 0.9;
}

.works .linkBox .readMore:hover::after {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.works .linkBox .balloon {
  color: #383634;
  font-size: 1.4rem;
  position: absolute;
  padding: 1rem;
  background-color: rgba(250, 250, 250, 0.7);
  width: 20rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 2rem;
  border-radius: .5rem;
  text-align: center;
  display: none;
}

.works .linkBox .balloon::after {
  border-bottom: 2rem solid rgba(250, 250, 250, 0.7);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  top: -2rem;
  left: 40%;
  content: "";
  position: absolute;
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  html {
    font-size: 0.9vw;
  }
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .bgNav {
    display: block;
  }
  .bgNav-inner {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    display: block;
    position: absolute;
    top: 17%;
    left: 4rem;
  }
  .bgNav-aside {
    font-size: 1.8rem;
    padding-left: 0;
    padding-top: 2rem;
  }
  .globalNav-list {
    padding: 0;
  }
  .globalNav-item a {
    font-size: 4.3rem;
    line-height: 1.5;
  }
  .header-logo {
    font-size: 2rem;
  }
  .headerNav {
    display: none;
  }
  .openBtn {
    display: block;
  }
  .pageTop {
    display: none !important;
  }
  .about-list {
    width: 80%;
  }
  .contact {
    padding: 8rem 0;
  }
  .promise-item {
    margin: 2rem 0;
  }
  .accordion-title {
    font-size: 1.4rem;
    padding: 4% 4% 4% 5rem;
  }
  .accordion-text {
    font-size: 1.2rem;
  }
  .skills-wrapper {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-box {
    width: 100%;
    margin-bottom: 3rem;
  }
  .topMain-text {
    padding: 0 3rem;
  }
  .topMain-desc {
    font-size: 1.9rem;
  }
  .video {
    display: none;
  }
  .scrollText {
    right: -0.4rem;
  }
  .scrollGuide {
    right: 2rem;
  }
  .works-descHeading {
    font-size: 1.4rem;
  }
  .works-desc {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .globalNav {
    padding-right: 0;
  }
  .header-inner {
    padding: 0 3rem;
  }
  .about-heading {
    padding-bottom: 1.5rem;
    margin: 2rem 0 1.5rem;
    font-size: 2.5rem;
  }
  .about-text {
    font-size: 1.3rem;
    line-height: 1.8;
  }
  .contact-heading {
    padding-bottom: 1.5rem;
    margin: 2rem 0 1.5rem;
    font-size: 2.5rem;
  }
  .contact-form {
    width: 80%;
  }
  .promise-heading {
    padding-bottom: 1.5rem;
    margin: 2rem 0 1.5rem;
    font-size: 2.5rem;
  }
  .skills-heading {
    padding-bottom: 1.5rem;
    margin: 2rem 0 1.5rem;
    font-size: 2.5rem;
  }
  .skills-desc {
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 2rem;
    width: 75%;
  }
  .topMain-subTitle {
    margin-bottom: 1.0rem;
    font-size: 3rem;
  }
  .topMain-name {
    margin-bottom: 1.8rem;
    font-size: 2.3rem;
  }
  .topMain-desc {
    font-size: 1.4rem;
  }
  .works-heading {
    padding-bottom: 1.5rem;
    margin: 2rem 0 1.5rem;
    font-size: 2.5rem;
  }
}
