@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*
body {
    overflow-X: hidden;
    @include mq() {
        font-size: 1.3rem;
        line-height: 1.7;
    }
}
*/
* {
  font-family: 'Alata', 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

p, h1, h2, h3, dl, ol, ul {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #383634;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*下から上にフェードイン*/
.fadein {
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fadein.fadeinup {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  padding: 12px;
}

.footer .copyright {
  font-size: 1.3rem;
  text-align: center;
  color: #fafafa;
}

.nav_bg {
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.nav_bg .nav_bg_inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.nav_bg .nav_bg_inner .global_nav {
  padding-right: 12.5%;
  color: #fafafa;
}

.nav_bg .nav_bg_inner .global_nav ul {
  list-style-type: none;
}

.nav_bg .nav_bg_inner .global_nav ul li {
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.nav_bg .nav_bg_inner .global_nav ul li:hover {
  -webkit-transform: translateX(36px);
          transform: translateX(36px);
}

.nav_bg .nav_bg_inner .global_nav ul li a {
  font-size: 5rem;
  line-height: 1.75;
  color: #383634;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.nav_bg .nav_bg_inner .global_nav ul li a::before {
  content: '';
  display: block;
  position: absolute;
  top: 5rem;
  left: -4.4rem;
  width: 0px;
  height: 1px;
  background: #383634;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

.nav_bg .nav_bg_inner .global_nav ul li a:hover {
  color: #fafafa;
}

.nav_bg .nav_bg_inner .global_nav ul li a:hover::before {
  background: #fafafa;
  width: 3.6rem;
}

.nav_bg .nav_bg_inner .nav_aside {
  font-size: 2.5rem;
  color: #383634;
  padding-left: 12.5%;
  padding-top: 7.5rem;
}

.nav_bg .nav_bg_inner .nav_aside h2 {
  font-size: 3rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#383634), color-stop(60%, rgba(56, 54, 52, 0.5)), to(transparent));
  background: linear-gradient(to bottom, #383634 0%, rgba(56, 54, 52, 0.5) 60%, transparent);
  z-index: 1;
}

.header_inner {
  height: 10rem;
  padding: 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_inner .logo {
  font-size: 3rem;
}

.header_inner .logo a {
  text-decoration: none;
  color: #fafafa;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.header_inner .logo a:hover {
  opacity: 0.5;
}

.header_inner .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header_inner .nav ul a {
  font-size: 2rem;
  color: #fafafa;
  margin-left: 2rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.header_inner .nav ul a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fafafa;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header_inner .nav ul a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.menu_trigger {
  display: none;
  position: fixed;
  top: 10%;
  right: 12%;
  z-index: 101;
  cursor: pointer;
}

.menu_trigger .top, .menu_trigger .middle, .menu_trigger .bottom {
  margin-bottom: 8px;
  display: block;
  height: 2px;
  background: #fafafa;
}

.menu_trigger .top:last-child, .menu_trigger .middle:last-child, .menu_trigger .bottom:last-child {
  margin: 0;
}

.menu_trigger .top {
  width: 50px;
}

.menu_trigger .middle {
  width: 40px;
}

.menu_trigger .bottom {
  width: 30px;
}

.page-top {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  cursor: pointer;
  background: #fafafa;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  z-index: 10;
}

.page-top .size {
  font-size: 5rem;
  color: #383634;
  line-height: 5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.page-top .size:hover {
  opacity: .8;
}

#about {
  padding: 8rem 3rem;
  background: #fafafa;
  text-align: center;
}

#about .heading {
  margin: 3rem 0 1.5rem;
  font-size: 4rem;
  color: #383634;
  text-align: center;
  text-transform: uppercase;
}

#about .linkbox {
  position: relative;
}

#about .linkbox .read_more {
  margin: 8rem auto 0;
  display: block;
  width: 10rem;
  font-size: 1.6rem;
  color: #d03c56;
  text-align: center;
  cursor: pointer;
}

#about .linkbox .read_more::after {
  margin-left: 0.5rem;
  content: '\f054';
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#about .linkbox .read_more:hover {
  opacity: 0.9;
}

#about .linkbox .read_more:hover:after {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

#about .linkbox .balloon {
  color: #fafafa;
  font-size: 1.4rem;
  position: absolute;
  padding: 1rem;
  background-color: rgba(56, 54, 52, 0.7);
  width: 20rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 2rem;
  border-radius: .5rem;
  text-align: center;
  display: none;
}

#about .linkbox .balloon::after {
  border-bottom: 2rem solid rgba(56, 54, 52, 0.7);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  top: -2rem;
  left: 40%;
  content: "";
  position: absolute;
}

.about_text {
  margin: 3rem 0;
  font-size: 1.4rem;
  line-height: 2.5;
  color: #383634;
}

.about_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 30%;
}

.about_list .twitter {
  font-size: 5rem;
  line-height: 10rem;
  -webkit-transition: .5s;
  transition: .5s;
  color: #383634;
}

.about_list .twitter:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #1C95E0;
}

.about_list .facebook {
  font-size: 5rem;
  line-height: 10rem;
  -webkit-transition: .5s;
  transition: .5s;
  color: #383634;
}

.about_list .facebook:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #3C5997;
}

.about_list .github {
  font-size: 5rem;
  line-height: 10rem;
  -webkit-transition: .5s;
  transition: .5s;
  color: #383634;
}

.about_list .github:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #2B3236;
}

#contact {
  padding: 8rem 0 15rem;
  color: #fafafa;
}

#contact .heading {
  margin: 3rem 0 1.5rem;
  font-size: 4rem;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
}

#contact .section_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#contact .section_bg .section_bg_inner {
  width: 100%;
  height: 100%;
  background: #383634 url("../img/contact-img.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
}

#contact .section_bg .section_bg_inner:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(56, 54, 52, 0.8);
}

#contact .contact_form {
  margin: 5rem auto 0;
  width: 50%;
}

#contact .contact_form .input_name, #contact .contact_form .input_text {
  margin-bottom: 3rem;
  padding: 1.5rem;
  display: block;
  width: 100%;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  outline: none;
  color: #fafafa;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#contact .contact_form .input_name::-webkit-input-placeholder, #contact .contact_form .input_text::-webkit-input-placeholder {
  color: #fafafa;
  font-size: 1.4rem;
}

#contact .contact_form .input_name::-moz-placeholder, #contact .contact_form .input_text::-moz-placeholder {
  color: #fafafa;
  font-size: 1.4rem;
}

#contact .contact_form .input_name:-ms-input-placeholder, #contact .contact_form .input_text:-ms-input-placeholder {
  color: #fafafa;
  font-size: 1.4rem;
}

#contact .contact_form .input_name::-ms-input-placeholder, #contact .contact_form .input_text::-ms-input-placeholder {
  color: #fafafa;
  font-size: 1.4rem;
}

#contact .contact_form .input_name::placeholder, #contact .contact_form .input_text::placeholder {
  color: #fafafa;
  font-size: 1.4rem;
}

#contact .contact_form .input_text {
  height: 15rem;
}

#contact .contact_form .input_btn {
  margin: 4rem auto 0;
  padding: 1.5rem;
  display: block;
  width: 20rem;
  background: transparent;
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 1.4rem;
  outline: none;
}

#contact .contact_form .input_btn:hover {
  background: rgba(255, 255, 255, 0.05);
}

/*
.progress {
    background-color:$color_black;
    color: $color_white;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;

    .progress-bar {
        border-top: 1rem solid #a0a0a0;
        position: absolute;
        top: 50%;
        width: 0%;
    }

    .progress-text {
        font-size: 1.2rem;
        margin-top: 10px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
    }
}

.progress.progress-complete .progress-bar {
    border-top-color: $color_white;
}
*/
#promise {
  padding: 8rem 0;
  background: #383634;
  color: #fafafa;
}

#promise .heading {
  margin: 3rem 0 1.5rem;
  font-size: 4rem;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
}

#promise p {
  font-size: 1.4rem;
  line-height: 1.8;
}

.promise-wrapper {
  margin-top: 6rem;
}

/*アコーディオン全体*/
.promise-list {
  list-style: none;
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.promise-list li {
  margin: 1rem 0;
}

.promise-list section {
  border-bottom: 1px solid #fafafa;
}

.title {
  position: relative;
  /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: normal;
  padding: 2% 2% 2% 5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background-color: #fafafa;
}

.title::before {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.title::after {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*closeというクラスがついたら形状変化*/
.title.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.title.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;
  /*はじめは非表示*/
  margin: 0 2% 2% 4.5%;
  padding: 2%;
}

#skills {
  padding: 8rem 0;
  background: #fafafa;
}

#skills .heading {
  margin: 3rem 0 1.5rem;
  font-size: 4rem;
  color: #383634;
  text-align: center;
  text-transform: uppercase;
}

#skills .wrapper {
  margin: 5rem auto 0;
  max-width: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#skills .wrapper .skill_box {
  width: 25%;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

#skills .wrapper .skill_box:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(56, 54, 52, 0.3);
          box-shadow: 0 0 5px 5px rgba(56, 54, 52, 0.3);
}

#skills .wrapper .skill_box .size {
  font-size: 10rem;
  color: #d03c56;
  line-height: 15rem;
  -webkit-transition: .3s;
  transition: .3s;
}

#skills .wrapper .skill_box .skill_title {
  margin: 2rem;
  margin-top: 0;
  font-size: 2rem;
  color: #383634;
}

#skills .wrapper .skill_box .desc {
  margin: 0 2rem;
  font-size: 1.4rem;
  line-height: 1.8;
  text-align: left;
  padding-bottom: 1rem;
  color: #383634;
}

#skills .linkbox {
  position: relative;
}

#skills .linkbox .read_more {
  margin: 8rem auto 0;
  display: block;
  width: 10rem;
  font-size: 1.6rem;
  color: #d03c56;
  text-align: center;
  cursor: pointer;
}

#skills .linkbox .read_more::after {
  margin-left: 0.5rem;
  content: '\f054';
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#skills .linkbox .read_more:hover {
  opacity: 0.9;
}

#skills .linkbox .read_more:hover:after {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

#skills .linkbox .balloon {
  color: #fafafa;
  font-size: 1.4rem;
  position: absolute;
  padding: 1rem;
  background-color: rgba(56, 54, 52, 0.7);
  width: 20rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 2rem;
  border-radius: .5rem;
  text-align: center;
  display: none;
}

#skills .linkbox .balloon::after {
  border-bottom: 2rem solid rgba(56, 54, 52, 0.7);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  top: -2rem;
  left: 40%;
  content: "";
  position: absolute;
}

.top_main {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  background: #383634;
  z-index: 0;
}

.top_main .text {
  padding: 0 10rem;
  position: absolute;
  bottom: 5rem;
  z-index: 1;
}

.top_main .text .sub_title {
  margin-bottom: 0.5rem;
  font-size: 4rem;
  color: #fafafa;
}

.top_main .text .name {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  color: #fafafa;
}

.top_main .text .desc {
  font-size: 1.8rem;
  color: #fafafa;
}

.top_main .video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  opacity: 0.5;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.scroll-text {
  position: absolute;
  bottom: 7rem;
  right: 8.1rem;
  color: #fafafa;
  font-size: 1.4rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 1;
}

.scroll-guide {
  position: absolute;
  right: 10.5rem;
  bottom: 2rem;
  height: 5rem;
  z-index: 1;
}

.scroll-guide i {
  display: block;
  width: 2px;
  height: 50px;
  margin-top: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: relative;
}

.scroll-guide i:before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: scroll_guide_animation 2s infinite normal;
          animation: scroll_guide_animation 2s infinite normal;
}

@-webkit-keyframes scroll_guide_animation {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  15% {
    -webkit-transform: translate3d(0, -98%, 0);
            transform: translate3d(0, -98%, 0);
  }
  85% {
    -webkit-transform: translate3d(0, 98%, 0);
            transform: translate3d(0, 98%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes scroll_guide_animation {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  15% {
    -webkit-transform: translate3d(0, -98%, 0);
            transform: translate3d(0, -98%, 0);
  }
  85% {
    -webkit-transform: translate3d(0, 98%, 0);
            transform: translate3d(0, 98%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

#works {
  padding: 80px 0;
  color: #fafafa;
  background: #383634;
  position: relative;
  z-index: 0;
}

#works .heading {
  margin: 3rem 0 1.5rem;
  font-size: 4rem;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
}

#works .work-wrapper {
  margin: 6rem 2rem 0;
}

#works .work_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

#works .work_img {
  overflow: hidden;
}

#works .work_img .work_eff {
  position: relative;
  width: 100%;
  height: auto;
  -webkit-transition: all .5s ease 0.1s;
  transition: all .5s ease 0.1s;
}

#works .work_img .work_eff:before {
  content: "Click More";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(56, 54, 52, 0.4), rgba(56, 54, 52, 0.8));
  -webkit-transition: all .5s ease 0.1s;
  transition: all .5s ease 0.1s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  font-size: 2rem;
  text-shadow: 0 0 0.5rem #383634;
}

#works .work_img .work_eff:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#works .work_img .work_eff:hover::before {
  opacity: 1;
}

#works .work_heading {
  color: #fafafa;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 1rem;
}

#works .work_desc {
  color: #fafafa;
  font-size: 1.4rem;
  line-height: 1.8;
}

#works .linkbox {
  position: relative;
}

#works .linkbox .read_more {
  margin: 8rem auto 0;
  display: block;
  width: 10rem;
  font-size: 1.6rem;
  color: #fafafa;
  text-align: center;
  cursor: pointer;
}

#works .linkbox .read_more::after {
  margin-left: 0.5rem;
  content: '\f054';
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#works .linkbox .read_more:hover {
  opacity: 0.9;
}

#works .linkbox .read_more:hover:after {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

#works .linkbox .balloon {
  color: #383634;
  font-size: 1.4rem;
  position: absolute;
  padding: 1rem;
  background-color: rgba(250, 250, 250, 0.7);
  width: 20rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 2rem;
  border-radius: .5rem;
  text-align: center;
  display: none;
}

#works .linkbox .balloon::after {
  border-bottom: 2rem solid rgba(250, 250, 250, 0.7);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  top: -2rem;
  left: 40%;
  content: "";
  position: absolute;
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  html {
    font-size: 0.9vw;
  }
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .nav_bg {
    display: block;
  }
  .nav_bg .nav_bg_inner {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    display: block;
    position: absolute;
    top: 17%;
    left: 4rem;
  }
  .nav_bg .nav_bg_inner .global_nav ul {
    padding: 0;
  }
  .nav_bg .nav_bg_inner .global_nav ul li a {
    font-size: 4.3rem;
    line-height: 1.5;
  }
  .nav_bg .nav_bg_inner .nav_aside {
    font-size: 1.8rem;
    padding-left: 0;
    padding-top: 2rem;
  }
  .header_inner {
    padding: 0 3rem;
  }
  .header_inner .logo {
    font-size: 2rem;
  }
  .header_inner .nav {
    display: none;
  }
  .menu_trigger {
    display: block;
    top: 5.5%;
    right: 10%;
  }
  .page-top {
    display: none !important;
  }
  .about_list {
    width: 80%;
  }
  #contact {
    padding: 8rem 0;
  }
  #skills .wrapper {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #skills .wrapper .skill_box {
    width: 100%;
    margin-bottom: 3rem;
  }
  .top_main .text {
    padding: 0 3rem;
  }
  .top_main .text .desc {
    font-size: 1.9rem;
  }
  #works .work_heading {
    font-size: 1.4rem;
  }
  #works .work_desc {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav_bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav_bg .nav_bg_inner .global_nav {
    padding-right: 0;
  }
  #about .heading {
    padding-bottom: 1.5rem;
    margin: 2rem 0 1.5rem;
    font-size: 2.5rem;
  }
  .about_text {
    font-size: 1.3rem;
    line-height: 1.8;
  }
  #contact .heading {
    padding-bottom: 1.5rem;
    margin: 2rem 0 1.5rem;
    font-size: 2.5rem;
  }
  #contact .contact_form {
    width: 80%;
  }
  #promise .heading {
    padding-bottom: 1.5rem;
    margin: 2rem 0 1.5rem;
    font-size: 2.5rem;
  }
  #skills .heading {
    padding-bottom: 1.5rem;
    margin: 2rem 0 1.5rem;
    font-size: 2.5rem;
  }
  #skills .wrapper .skill_box .desc {
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 2rem;
    width: 75%;
  }
  .top_main .text .sub_title {
    margin-bottom: 1.0rem;
    font-size: 3rem;
  }
  .top_main .text .name {
    margin-bottom: 1.8rem;
    font-size: 2.3rem;
  }
  .top_main .text .desc {
    font-size: 1.4rem;
  }
  .scroll-text {
    right: -0.4rem;
  }
  .scroll-guide {
    right: 2rem;
  }
  #works .heading {
    padding-bottom: 1.5rem;
    margin: 2rem 0 1.5rem;
    font-size: 2.5rem;
  }
}
