<main class="main">
    <div class="page-top">
        <i class="fas fa-arrow-alt-circle-up size"></i>
    </div>
    <section id="about">
        <h2 class="heading fadein">About Me</h2>
        <p class="about_text fadein">静岡在住 1982生まれWeb制作コーダー。<br>
            独学で通販サイトのHTMLコーダーとなり、オンラインスクールでWebデザインとWebマーケティングを学びました。</p>
        <p class="about_text fadein">これからは、保守性に優れたコーディングや、多くの検証による的確なサイト運営ができるようになりたいと思います。</p>
        <div class="about_inner fadein">
            <ul class="about_list">
                <li><a href="#" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-facebook facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-github github"></i></a></li>
            </ul>

        </div>
        <a class="read_more" href="about.html">Read More</a>
    </section>