<main class="main">
    <div class="pageTop">
        <i class="fas fa-arrow-alt-circle-up pageTop-size"></i>
    </div>
    <section class="about" id="about">
        <h2 class="about-heading fadeIn">About Me</h2>
        <p class="about-text fadeIn">静岡在住 1982生まれのWeb制作コーダーです。<br>
            独学でWeb制作を学び、個人でWebサイトの制作や<br>コーディングを行っています。</p>
        <p class="about-text fadeIn">これからは、保守性に優れたコーディングや<br>多くの検証による的確なサイト運営が<br>できるようになりたいと思います。</p>
        <div class="about-inner fadeIn">
            <ul class="about-list">
                <li><a href="#" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-facebook facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-github github"></i></a></li>
            </ul>

        </div>
        <div class="linkBox fadeIn">
            <p class="readMore">Read More</p>
            <p class="balloon">Coming Soon</p>
        </div>
    </section>