<section class="contact" id="contact">
    <div class="bgSection">
        <div class="bgSection-inner"></div>
    </div>
    <h2 class="contact-heading fadeIn">Contact</h2>
    <form class="contact-form fadeIn" action="index.html" method="post">
        <input class="input-name" type="text" name="name" placeholder="Name">
        <textarea class="input-text" name="message" placeholder="Message"></textarea>
        <input class="input-btn" type="submit" name="" value="Send">
    </form>
</section>

</main>