<section id="contact">
    <div class="section_bg">
        <div class="section_bg_inner"></div>
    </div>
    <h2 class="heading">Contact</h2>
    <form class="contact_form" action="index.html" method="post">
        <input class="input_name" type="text" name="name" placeholder="Name">
        <textarea class="input_text" name="message" placeholder="Message"></textarea>
        <input class="input_btn" type="submit" name="" value="Send">
    </form>
</section>

</main>