<footer class="footer">
        <p class="copyright">Copyright &copy; portfolio All Rights Reserved.</p>
    </footer>

    <div class="progress" id="progress">
        <span class="progress-bar"></span>
        <span class="progress-text">0%</span>
    </div>

    
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
</body>

</html>