<header class="header">
    <div class="header-inner">
        <h1 class="header-logo"><a href="index.html">portfolio</a></h1>
        <nav class="headerNav">
            <ul class="headerNav-list">
                <li class="headerNav-item"><a href="#top">Home</a></li>
                <li class="headerNav-item"><a href="#about">About</a></li>
                <li class="headerNav-item"><a href="#works">Works</a></li>
                <li class="headerNav-item"><a href="#skills">Skills</a></li>
                <li class="headerNav-item"><a href="#promise">Promise</a></li>
                <li class="headerNav-item"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="openBtn">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
        <div class="bgNav">
            <div class="bgNav-inner">
                <nav class="globalNav">
                    <ul class="globalNav-list">
                        <li class="globalNav-item"><a href="#">Home</a></li>
                        <li class="globalNav-item"><a href="#">About</a></li>
                        <li class="globalNav-item"><a href="#">Works</a></li>
                        <li class="globalNav-item"><a href="#">Skills</a></li>
                        <li class="globalNav-item"><a href="#">Promise</a></li>
                        <li class="globalNav-item"><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <div class="bgNav-aside">
                    <h2 class="bgNav-heading">portfolio</h2>
                </div>
            </div>
        </div>
    </div>
</header>