<header class="header">
    <div class="header-inner">
        <h1 class="header-logo"><a href="index.html">portfolio</a></h1>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="#top">Home</a></li>
                <li class="nav-item"><a href="#about">About</a></li>
                <li class="nav-item"><a href="#works">Works</a></li>
                <li class="nav-item"><a href="#skills">Skills</a></li>
                <li class="nav-item"><a href="#promise">Promise</a></li>
                <li class="nav-item"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="openbtn">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
        <div class="bnav">
            <div class="bnav-inner">
                <nav class="gnav">
                    <ul class="gnav-list">
                        <li class="gnav-item"><a href="#top">Home</a></li>
                        <li class="gnav-item"><a href="#about">About</a></li>
                        <li class="gnav-item"><a href="#works">Works</a></li>
                        <li class="gnav-item"><a href="#skills">Skills</a></li>
                        <li class="gnav-item"><a href="#promise">Promise</a></li>
                        <li class="gnav-item"><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="bnav-aside">
                    <h2>portfolio</h2>
                </div>
            </div>
        </div>
    </div>
</header>