<section class="promise" id="promise">
    <h2 class="promise-heading fadein">PROMISE</h2>
    <div class="promise-wrapper fadein">
        <ul class="promise-list">
            <li class="promise-item">
                <section class="accordion">
                    <h3 class="accordion-title">当たり前のことを当たり前に</h3>
                    <div class="accordion-box">
                        <p class="accordion-text">仕事の関係以前に、人対人の関係を大事にしたいと考えています。</p>
                        <p class="accordion-text">「あいさつ」「報連相」「納期遵守」、当たり前のことを当たり前に行います。</p>
                    </div>
                </section>
            </li>
            <li class="promise-item">
                <section class="accordion">
                    <h3 class="accordion-title">学ぶ姿勢を持ち続ける</h3>
                    <div class="accordion-box">
                        <p class="accordion-text">Web業界は変化の激しい世界だと常々感じています。</p>
                        <p class="accordion-text">色々なことにチャレンジし、技術をより突き詰めることでベストな対応を選択します。</p>
                    </div>
                </section>
            </li>
            <li class="promise-item">
                <section class="accordion">
                    <h3 class="accordion-title">事前テストで品質を確保</h3>
                    <div class="accordion-box">
                        <p class="accordion-text">ものづくりにおいて、品質管理は必須と考えています。</p>
                        <p class="accordion-text">制作物に対して事前テストを行うことで、品質を確保します。</p>
                    </div>
                </section>
            </li>
        </ul>
    </div>
</section>