<section class="skills">
            <h2 class="heading">Skills</h2>
            <div class="wrapper">
                <div class="skill_box">
                    <h3 class="skill_title">Coding</h3>
                    <p class="desc">HTML/CSSでレスポンシブサイトのコーディングができます。</p>
                </div>
                <div class="skill_box">
                    <h3 class="skill_title">Web Marketing</h3>
                    <p class="desc">アナリティクスやサーチコンソールでの分析・改善方法を学びました。</p>
                </div>
                <div class="skill_box">
                    <h3 class="skill_title">〇〇〇〇〇</h3>
                    <p class="desc">〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                </div>
            </div>
            <a class="read_more" href="skills.html">Read More</a>
        </section>