<section class="skills">
    <h2 class="heading">Skills</h2>
    <div class="wrapper">
        <div class="skill_box">
            <i class="fas fa-file-code size"></i>
            <h3 class="skill_title">Coding</h3>
            <p class="desc">HTML/CSSでレスポンシブサイトのコーディングができます。</p>
        </div>
        <div class="skill_box">
            <i class="fab fa-js-square size"></i>
            <h3 class="skill_title">JavaScript</h3>
            <p class="desc">アナリティクスやサーチコンソールでの分析・改善方法を学びました。</p>
        </div>
        <div class="skill_box">
            <i class="fab fa-gulp size"></i>
            <h3 class="skill_title">Gulp</h3>
            <p class="desc">〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
        </div>
        <div class="skill_box">
            <i class="fab fa-wordpress size"></i>
            <h3 class="skill_title">WordPress</h3>
            <p class="desc">〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
        </div>
        <div class="skill_box">
            <i class="fab fa-shopify size"></i>
            <h3 class="skill_title">Shopify</h3>
            <p class="desc">〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
        </div>
    </div>
    <a class="read_more" href="skills.html">Read More</a>
</section>