<section id="skills">
    <h2 class="heading fadein">Skills</h2>
    <div class="wrapper fadein">
        <div class="skill_box">
            <i class="fas fa-laptop-code size"></i>
            <h3 class="skill_title">WebCoding</h3>
            <p class="desc">デザインを忠実に再現しつつ、可読性と保守性の高いコーディングを心がけます。</p>
        </div>
        <div class="skill_box">
            <i class="fas fa-mobile-alt size"></i>
            <h3 class="skill_title">Responsive</h3>
            <p class="desc">Googleが推奨するレスポンシブWebデザインによるサイト制作で、スマホ画面に対応します。</p>
        </div>
        <div class="skill_box">
            <i class="fab fa-wordpress size"></i>
            <h3 class="skill_title">WordPress</h3>
            <p class="desc">WordPressサイトのテーマ作成、カスタマイズ、修正など柔軟に対応します。</p>
        </div>
        <div class="skill_box">
            <i class="fab fa-gulp size"></i>
            <h3 class="skill_title">TaskRunner</h3>
            <p class="desc">Webサイトの最適化に必要な作業を、タスクランナーで自動化させて品質を安定させます。</p>
        </div>
    </div>
    <div class="skill_textbox">
        <h4 class="skill_heading">Other Skills</h4>
        <p class="skill_text">Adobe XD/Affinity Photo/Git(Sourcetree)/GitHub</p>
    </div>
    <div class="linkbox fadein">
        <p class="read_more">Read More</p>
        <p class="balloon">Coming Soon</p>
    </div>
</section>