<section id="skills">
    <h2 class="heading">Skills</h2>
    <div class="wrapper">
        <div class="skill_box">
            <i class="fas fa-laptop-code size"></i>
            <h3 class="skill_title">WebCoding</h3>
            <p class="desc">デザインを忠実に再現しつつ、可読性と保守性の高いコーディングを心がけます。</p>
        </div>
        <div class="skill_box">
            <i class="fab fa-js-square size"></i>
            <h3 class="skill_title">JavaScript</h3>
            <p class="desc">JavaScript（jQuery）で、動きのあるサイトを実現します。</p>
        </div>
        <div class="skill_box">
            <i class="fab fa-gulp size"></i>
            <h3 class="skill_title">Gulp</h3>
            <p class="desc">タスクランナーを活用し、Webサイトの最適化を実施します。</p>
        </div>
        <div class="skill_box">
            <i class="fab fa-wordpress size"></i>
            <h3 class="skill_title">WordPress</h3>
            <p class="desc">WordPressサイトのテーマ作成、カスタマイズ、修正など柔軟に対応します。</p>
        </div>
    </div>
    <a class="read_more" href="skills.html">Read More</a>
</section>