<section class="skills" id="skills">
    <h2 class="skills-heading fadein">Skills</h2>
    <div class="skills-wrapper fadein">
        <div class="skills-box">
            <i class="fas fa-laptop-code size"></i>
            <h3 class="skills-title">WebCoding</h3>
            <p class="skills-desc">デザインを忠実に再現しつつ、可読性と保守性の高いコーディングを心がけます。</p>
        </div>
        <div class="skills-box">
            <i class="fas fa-mobile-alt size"></i>
            <h3 class="skills-title">Responsive</h3>
            <p class="skills-desc">Googleが推奨するレスポンシブWebデザインによるサイト制作で、スマホ画面に対応します。</p>
        </div>
        <div class="skills-box">
            <i class="fab fa-wordpress size"></i>
            <h3 class="skills-title">WordPress</h3>
            <p class="skills-desc">WordPressサイトのテーマ作成、カスタマイズ、修正など柔軟に対応します。</p>
        </div>
        <div class="skills-box">
            <i class="fab fa-gulp size"></i>
            <h3 class="skills-title">TaskRunner</h3>
            <p class="skills-desc">Webサイトの最適化に必要な作業を、タスクランナーで自動化させて品質を安定させます。</p>
        </div>
    </div>
    <div class="skills-textBox">
        <h4 class="skills-textHeading">Other Skills</h4>
        <p class="skills-text">Adobe XD/Affinity Photo/Git(Sourcetree)/GitHub</p>
    </div>
    <div class="linkBox fadein">
        <p class="readMore">Read More</p>
        <p class="balloon">Coming Soon</p>
    </div>
</section>