<div class="topMain">
    <div class="topMain-text">
        <!-- <p class="topMain-subTitle">MarkUp Engineer</p> -->
        <p class="topMain-name">Nishinoya-engineering</p>
        <!-- <p class="topMain-desc">Coding - HTML&CSS / JavaScript / WordPress</p>
        <p class="topMain-desc">Domain , Server Setting</p> -->
    </div>
    <p class="scrollText">SCROLL</p>
    <div class="scrollGuide"><i></i></div>
    <video class="video" autoplay loop muted poster="./img/posterimage.png">
        <source src="mov/top-movie.mp4" type="video/mp4">
        <img src="./img/posterimage.png">
    </video>
</div>