<div class="top_main">
        <div class="text">
            <p class="sub_title">MarkUp Engineer</p>
            <p class="name">Takasumi Katayama</p>
            <p class="desc">CODING - HTML5, CSS / PHOTOSHOP / DOMAIN, <br>SERVER SETTING / WEB MARKETING, SEO /
                WordPress</p>
        </div>
        <video class="video pc-video" autoplay loop muted poster="./img/posterimage.png">
            <source src="mov/top-movie.mp4" type="video/mp4">
                <img src="./img/posterimage.png">
        </video>
    </div>

    <main class="main">
        <section class="about">
            <h2 class="heading">About Me</h2>
            <p class="about_text">静岡在住 1982生まれWebデザイナー（志望）。<br>
                独学で通販サイトのHTMLコーダーとなり、オンラインスクールでWebデザインとWebマーケティングを学びました。</p>
            <p class="about_text">これからは、保守性に優れたコーディングや、多くの検証による的確なサイト運営ができるようになりたいと思います。</p>
            <a class="read_more" href="about.html">Read More</a>
        </section>
