<div class="top_main">
    <div class="text">
        <p class="sub_title">MarkUp Engineer</p>
        <p class="name">Nishinoya-engineering</p>
        <p class="desc">CODING - HTML5, CSS / PHOTOSHOP / DOMAIN, <br>SERVER SETTING / WEB MARKETING, SEO /
            WordPress</p>
    </div>
    <p class="scroll-text">SCROLL</p>
    <div class="scroll-guide"><i></i></div>
    <video class="video pc-video" autoplay loop muted poster="./img/posterimage.png">
        <source src="mov/top-movie.mp4" type="video/mp4">
        <img src="./img/posterimage.png">
    </video>
</div>