<section id="works">
    <h2 class="heading fadein">Works</h2>
    <div class="work-wrapper fadein">
        <a class="work_link" href="#">
            <div class="work_box">
                <div class="work_img">
                    <div class="work_eff">
                        <img src="./img/pf6.png" alt="">
                    </div>
                </div>
                <div class="work_desc_out">
                    <h3 class="work_heading">アパレル向けランディングページ</h3>
                    <p class="work_desc">HTML/Sass/JavaScript/liquid</p>
                    <p class="work_desc">静的ページをShopifyに構築</p>
                </div>
            </div>
        </a>
        <a class="work_link" href="#">
            <div class="work_box">
                <div class="work_img">
                    <div class="work_eff">
                        <img src="./img/pf5.png" alt="">
                    </div>
                </div>
                <div class="work_desc_out">
                    <h3 class="work_heading">ポートフォリオ（当サイト）</h3>
                    <p class="work_desc">HTML/Sass/JavaScript/WordPress</p>
                    <p class="work_desc">静的ページをWordPress化</p>
                </div>
            </div>
        </a>
        <a class="work_link" href="#">
            <div class="work_box">
                <div class="work_img">
                    <div class="work_eff">
                        <img src="./img/pf4.png" alt="">
                    </div>
                </div>
                <div class="work_desc_out">
                    <h3 class="work_heading">架空コーポレートサイト</h3>
                    <p class="work_desc">HTML/CSS/WordPress</p>
                    <p class="work_desc">静的ページをWordPress化</p>
                </div>
            </div>
        </a>
        <a class="work_link" href="#">
            <div class="work_box">
                <div class="work_img">
                    <div class="work_eff">
                        <img src="./img/pf3.png" alt="">
                    </div>
                </div>
                <div class="work_desc_out">
                    <h3 class="work_heading">架空コーポレートサイト</h3>
                    <p class="work_desc">HTML/Sass/JavaScript</p>
                    <p class="work_desc">XDデザインからコーディング</p>
                </div>
            </div>
        </a>
        <a class="work_link" href="#">
            <div class="work_box">
                <div class="work_img">
                    <div class="work_eff">
                        <img src="./img/pf2.png" alt="">
                    </div>
                </div>
                <div class="work_desc_out">
                    <h3 class="work_heading">架空コーポレートサイト</h3>
                    <p class="work_desc">HTML/Sass/JavaScript</p>
                    <p class="work_desc">XDデザインからコーディング</p>
                </div>
            </div>
        </a>
    </div>
    <div class="linkbox fadein">
        <p class="read_more">Read More</p>
        <p class="balloon">Coming Soon</p>
    </div>
</section>