<section class="works" id="works">
    <h2 class="works-heading fadeIn">Works</h2>
    <div class="works-wrapper fadeIn">
        <a class="works-link" href="#">
            <div class="works-box">
                <div class="works-img">
                    <div class="works-eff">
                        <img src="./img/pf5.png" alt="">
                    </div>
                </div>
                <div class="works-descOuter">
                    <h3 class="works-descHeading">アパレル向けランディングページ</h3>
                    <p class="works-desc">HTML/Sass/JavaScript/liquid</p>
                    <p class="works-desc">静的ページをShopifyに構築</p>
                </div>
            </div>
        </a>
        <a class="work-link" href="#">
            <div class="works-box">
                <div class="works-img">
                    <div class="works-eff">
                        <img src="./img/pf4.png" alt="">
                    </div>
                </div>
                <div class="works-descOuter">
                    <h3 class="works-descHeading">ポートフォリオ（当サイト）</h3>
                    <p class="works-desc">HTML/Sass/JavaScript/WordPress</p>
                    <p class="works-desc">静的ページをWordPress化</p>
                </div>
            </div>
        </a>
        <a class="work-link" href="#">
            <div class="works-box">
                <div class="works-img">
                    <div class="works-eff">
                        <img src="./img/pf3.png" alt="">
                    </div>
                </div>
                <div class="works-descOuter">
                    <h3 class="works-descHeading">架空コーポレートサイト</h3>
                    <p class="works-desc">HTML/CSS/WordPress</p>
                    <p class="works-desc">静的ページをWordPress化</p>
                </div>
            </div>
        </a>
        <a class="work_link" href="#">
            <div class="works-box">
                <div class="works-img">
                    <div class="works-eff">
                        <img src="./img/pf2.png" alt="">
                    </div>
                </div>
                <div class="works-descOuter">
                    <h3 class="works-descHeading">架空コーポレートサイト</h3>
                    <p class="works-desc">HTML/Sass/JavaScript</p>
                    <p class="works-desc">XDデザインからコーディング</p>
                </div>
            </div>
        </a>
        <a class="work_link" href="#">
            <div class="works-box">
                <div class="works-img">
                    <div class="works-eff">
                        <img src="./img/pf1.png" alt="">
                    </div>
                </div>
                <div class="works-descOuter">
                    <h3 class="works-descHeading">架空コーポレートサイト</h3>
                    <p class="works-desc">HTML/Sass/JavaScript</p>
                    <p class="works-desc">XDデザインからコーディング</p>
                </div>
            </div>
        </a>
    </div>
    <div class="linkBox fadeIn">
        <p class="readMore">Read More</p>
        <p class="balloon">Coming Soon</p>
    </div>
</section>