<section class="works">
    <h2 class="heading">Works</h2>
    <div class="work-wrapper">
        <a class="work_link" href="#">
            <div class="work_box">
                <div class="work_img">
                    <img src="./img/pf5.png" alt="">
                </div>
                <div class="work_desc_out">
                    <h3 class="work_heading">アパレル向けランディングページ</h3>
                    <p class="work_desc">HTML/Sass/jQuery/liquid</p>
                    <p class="work_desc">静的ページをShopifyに構築</p>
                </div>
            </div>
        </a>
        <a class="work_link" href="#">
            <div class="work_box">
                <div class="work_img">
                    <img src="./img/pf5.png" alt="">
                </div>
                <div class="work_desc_out">
                    <h3 class="work_heading">ポートフォリオサイト（当サイト）</h3>
                    <p class="work_desc">HTML/Sass/jQuery/WordPress</p>
                    <p class="work_desc">静的ページをWordPress化</p>
                </div>
            </div>
        </a>
        <a class="work_link" href="#">
            <div class="work_box">
                <div class="work_img">
                    <img src="./img/pf4.png" alt="">
                </div>
                <div class="work_desc_out">
                    <h3 class="work_heading">架空コーポレートサイト</h3>
                    <p class="work_desc">HTML/CSS/WordPress</p>
                    <p class="work_desc">静的ページをWordPress化</p>
                </div>
            </div>
        </a>
        <a class="work_link" href="#">
            <div class="work_box">
                <div class="work_img">
                    <img src="./img/pf3.png" alt="">
                </div>
                <div class="work_desc_out">
                    <h3 class="work_heading">架空コーポレートサイト</h3>
                    <p class="work_desc">HTML/Sass/jQuery</p>
                    <p class="work_desc">XDデザインからコーディング</p>
                </div>
            </div>
        </a>
        <a class="work_link" href="#">
            <div class="work_box">
                <div class="work_img">
                    <img src="./img/pf2.png" alt="">
                </div>
                <div class="work_desc_out">
                    <h3 class="work_heading">架空コーポレートサイト</h3>
                    <p class="work_desc">HTML/Sass/jQuery</p>
                    <p class="work_desc">XDデザインからコーディング</p>
                </div>
            </div>
        </a>
    </div>
    <a class="read_more" href="works.html">Read More</a>
</section>