.pageTop {
	position: fixed;
	right: 3rem;
	bottom: 3rem;
    cursor: pointer;
    background: rgba(250,250,250,.8);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    z-index: 10;
    @include mq() {
        display: none!important;
    }
    &-size {
        font-size: 5rem;
        color: $color_black;
        line-height: 5rem;
        transition: .3s;
        &:hover {
            opacity: .8;
        }
    }
}

.about {
    padding: 8rem 3rem;
    background: $color_white;
    text-align: center;

    &-heading {
        @include heading();
    }

    &-text {
        margin: 3rem 0;
        font-size: 1.4rem;
        line-height: 2.5;
        color: $color-black;
        @include mq(lg) {
            font-size: 1.3rem;
            line-height: 1.8;
        }
    }

    &-list {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 30%;
        @include mq() {
            width: 80%;
        }
    }

    .twitter {
        @include snsIcon($color:#1C95E0);
    }

    .facebook {
        @include snsIcon($color:#3C5997);
    }

    .github {
        @include snsIcon($color:#2B3236);
    }

    .linkBox {
        position: relative;
        .readMore {
            @include readMore();
        }
        .balloon {
            @include balloon();
        }
    }
}