.about {
    padding: 80px 30px;
    background: $color_white;
    text-align: center;
}

.about_text {
    margin: 30px 0;
    font-size: 1.4rem;
    line-height: 2.5;

    @include mq(lg) {
        font-size: 1.3rem;
        line-height: 1.8;
    }
}

.about_list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 30%;
    @include mq() {
        width: 80%;
    }
}

.twitter {
    font-size: 5rem;
    line-height: 10rem;
    transition: .5s;
    color:$color-black;
    &:hover {
        transform:scale(1.2,1.2);
        color: #1C95E0;
    }
}
.facebook {
    font-size: 5rem;
    line-height: 10rem;
    transition: .5s;
    color: $color-black;
    &:hover {
        transform:scale(1.2,1.2);
        color: #3C5997;
    }
}
.github {
    font-size: 5rem;
    line-height: 10rem;
    transition: .5s;
    color: $color-black;
    &:hover {
        transform:scale(1.2,1.2);
        color: #2B3236;
    }
}
