/*
.progress {
    background-color:$color_black;
    color: $color_white;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;

    .progress-bar {
        border-top: 1rem solid #a0a0a0;
        position: absolute;
        top: 50%;
        width: 0%;
    }

    .progress-text {
        font-size: 1.2rem;
        margin-top: 10px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
    }
}

.progress.progress-complete .progress-bar {
    border-top-color: $color_white;
}
*/