.skills {
    padding: 80px 0;
    background: $color_white;

    .wrapper {
        margin: 50px auto 0;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;

        @include mq(lg) {
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 1fr 1fr;
        }
        @include mq() {
            width: 80%;
            display: block;
        }

        .skill_box {
            text-align: center;
            width: 25%;

            @include mq(lg) {
                width: 100%;
                margin: 40px 0;
            }

            .size {
                font-size: 10rem;
                color: #f2003d;
                line-height: 15rem;
                transition: .3s;
                &:hover {
                    font-size: 12rem;
                }
            }

            .skill_title {
                margin: 2rem;
                margin-top: 0;
                font-size: 2rem;
            }

            .desc {
                margin: 0 20px;
                font-size: 1.4rem;

                @include mq(lg) {
                    margin: 0 auto;
                    font-size: 1.3rem;
                    line-height: 2rem;
                    width: 50%;
                }
            }
        }
    }
}