#skills {
    padding: 8rem 0;
    background: $color_white;
    .heading {
        @include heading();
    }

    .wrapper {
        margin: 5rem auto 0;
        max-width: 100rem;
        display: flex;
        justify-content: space-between;

        @include mq() {
            width: 80%;
            flex-direction: column;
        }

        .skill_box {
            width: 25%;
            text-align: center;
            border-radius: 5px;
            transition: .5s;
            &:hover {
                box-shadow: 0 0 5px 5px rgba(56,54,52,.3);
            }
            @include mq() {
                width: 100%;
                margin-bottom: 3rem;
            }

            .size {
                font-size: 10rem;
                color: #d03c56;
                line-height: 15rem;
                transition: .3s;
            }

            .skill_title {
                margin: 2rem;
                margin-top: 0;
                font-size: 2rem;
                color: $color-black;
            }

            .desc {
                margin: 0 2rem;
                font-size: 1.4rem;
                line-height: 1.8;
                text-align: left;
                padding-bottom: 1rem;
                color: $color-black;
                @include mq(lg) {
                    margin: 0 auto;
                    font-size: 1.3rem;
                    line-height: 2rem;
                    width: 75%;
                }
            }
        }
    }
    .linkbox {
        position: relative;
        .read_more {
        @include read_more();
        }
        .balloon {
        @include balloon();
        }
    }
}