<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>西ノ谷エンジニアリング</title>
	<meta name="description" content="西ノ谷エンジニアリングのポートフォリオサイト。JavaScriptの頻出アクションを実装したWebページ。">
	<meta property="og:url" content="https://pf.nishinoya-engineering.com/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="西ノ谷エンジニアリング">
	<meta property="og:description" content="西ノ谷エンジニアリングのポートフォリオサイト。JavaScriptの頻出アクションを実装したWebページ。">
	<meta property="og:image" content="https://pf.nishinoya-engineering.com/img/pf4.png">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@nishinoya_eng">
	<meta name=”twitter:title” content=”西ノ谷エンジニアリング“>
	<meta name=”twitter:description” content=”西ノ谷エンジニアリングのポートフォリオサイト。JavaScriptの頻出アクションを実装したWebページ。“>
	<meta name=”twitter:image” content=”https://pf.nishinoya-engineering.com/img/pf4.png“>
	<link rel="icon" href="画像のパス">
	<link rel="apple-touch-icon" href="画像のパス">
	
	<link rel="canonical" href="URLが入る" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/krishdevdb/reseter.css/css/reseter.min.css">
	<link rel="stylesheet" href="./css/style.css">
</head>
<body id="top">